.btn-link {
  color: #333;
  background-color: #fff;
  border-color: #428bca;
}
.btn-link:hover,
.btn-link:focus,
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  color: #333;
  background-color: #ebebeb;
  border-color: #adadad;
}
.btn-link:active,
.btn-link.active,
.open .dropdown-toggle.btn-link {
  background-image: none;
}
.btn-link.disabled,
.btn-link[disabled],
fieldset[disabled] .btn-link,
.btn-link.disabled:hover,
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link.disabled:focus,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus,
.btn-link.disabled:active,
.btn-link[disabled]:active,
fieldset[disabled] .btn-link:active,
.btn-link.disabled.active,
.btn-link[disabled].active,
fieldset[disabled] .btn-link.active {
  background-color: #fff;
  border-color: #ccc;
}

.btn-link .badge {
  color: #fff;
  background-color: #333;
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}